@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
    Layout = "../_Layout.cshtml";
}
<link href="~/themes/css/bootstrappage.css" rel="stylesheet" />
<link href="~/themes/css/flexslider.css" rel="stylesheet" />
<link href="~/themes/css/jquery.fancybox.css" rel="stylesheet" />
<link href="~/themes/css/main.css" rel="stylesheet" />


<h1>@ViewData["Title"]</h1>


<section class="main-content">
    @{
        if (@Model.DisplayConfirmAccountLink)
        {
            <p>
                This app does not currently have a real email sender registered, see <a href="https://aka.ms/aspaccountconf">these docs</a> for how to configure a real email sender.
                Normally this would be emailed: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
            </p>
        }
        else
        {
            <p>
                Please check your email to confirm your account.
            </p>
        }
    }
</section>