@*
    
*@
@{
}
<div class="row">
    <div class="span4">
        <form method="POST" class="search_form">
            <input type="text" class="input-block-level search-query" Placeholder="eg. T-sirt">
        </form>
    </div>
    <div class="span8">
        <div class="account pull-right">
            <ul class="user-menu">
                <li><a href="#">My Account</a></li>
                <li><a href="/cart">Your Cart</a></li>
                <li><a href="/checkout">Checkout</a></li>
                <li><a href="#">Login</a></li>
            </ul>
        </div>
    </div>
</div>
		</div>
<div id="wrapper" class="container">
    <section class="navbar main-menu">
        <div class="navbar-inner main-menu">
            <a href="/" class="logo pull-left"><img src="themes/images/logo.png" class="site_logo" alt=""></a>
            <nav id="menu" class="pull-right">
                <ul>
                    <li>
                        <a href="/products">Woman</a>
                        <ul>
                            <li><a href="/products">Lacinia nibh</a></li>
                            <li><a href="/products">Eget molestie</a></li>
                            <li><a href="/products">Varius purus</a></li>
                        </ul>
                    </li>
                    <li><a href="/products">Man</a></li>
                    <li>
                        <a href="/products">Sport</a>
                        <ul>
                            <li><a href="/products">Gifts and Tech</a></li>
                            <li><a href="/products">Ties and Hats</a></li>
                            <li><a href="/products">Cold Weather</a></li>
                        </ul>
                    </li>
                    <li><a href="/products">Hangbag</a></li>
                    <li><a href="/products">Best Seller</a></li>
                    <li><a href="/products">Top Seller</a></li>
                </ul>
            </nav>
        </div>
    </section>


    <section class="homepage-slider" id="home-slider">
        <div class="flexslider">
            <ul class="slides">
                <li>
                    <img src="themes/images/carousel/banner-1.jpg" alt="" />
                </li>
                <li>
                    <img src="themes/images/carousel/banner-2.jpg" alt="" />
                    <div class="intro">
                        <h1>Mid season sale</h1>
                        <p><span>Up to 50% Off</span></p>
                        <p><span>On selected items online and in stores</span></p>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <section class="header_text">
        We stand for top quality templates. Our genuine developers always optimized bootstrap commercial templates.
        <br />Don't miss to use our cheap abd best bootstrap templates.
    </section>
