<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Web_project</title>
    <link href="~/css/Admin.css" rel="stylesheet" />


</head>
<body>




    @RenderBody()


    <div class="footer">
        <h2>Footer</h2>
    </div>



    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
